/* Your app custom styles here */
:root {
  --f7-theme-color: #998200;
  --f7-theme-color-rgb: 153, 130, 0;
  --f7-theme-color-shade: #705f00;
  --f7-theme-color-tint: #c2a500;
}
.sz1{font-size:calc(1em + 1vw)}
.sz2{font-size:calc(1em + 2vw)}
.sz3{font-size:calc(1em + 3vw)}
.sz4{font-size:calc(1em + 4vw)}

.c30{color: #998200}
.c50{color: #ffd700}
.c70{color: #ffe866}

.sz10{font-size:10px}
.sz11{font-size:11px}
.sz12{font-size:12px}
.sz13{font-size:13px}

.trans3{opacity:0.3;}
.trans4{opacity:0.4;}
.trans5{opacity:0.5;}
.trans6{opacity:0.6;}
.trans7{opacity:0.7;}
.trans8{opacity:0.8;}
.trans9{opacity:0.9;}

.toast_red{background-color:red}
.toast_green{background-color:green}
.toast_blue{background-color:blue}
.toast_black{background-color:black}

.Viga{
 font-family: 'Viga', sans-serif;
}
.Rale{
 font-family: 'Raleway-Medium', sans-serif;
}
.Open{
 font-family: 'Open Sans', sans-serif;
}
.Bebas{
 font-family: 'Bebas Neue', cursive;
}
.Mont{
 font-family: 'Montserrat', sans-serif;
}
.Lora{
 font-family: 'Lora', serif;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.bgcolor{
 background-color:#111111;
 color:red;
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../fonts/Barlow-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Barlow-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Barlow-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Barlow-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Barlow-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Barlow-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Barlow-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/BebasNeue-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/BebasNeue-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/BebasNeue-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/BebasNeue-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Montserrat-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.Raleway{
 font-family: 'Raleway', sans-serif;
}
.Poppins{
 font-family: 'Poppins', sans-serif;
}
.Share{
 font-family: 'Share', cursive;
}
img {max-width:100%}
.maroon{
 color:#900000;
}

a:link {
  color: #900000;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #900000;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.gray{
 color:#454545;
}
.panel {
  min-width: 100px;
  max-width: 90vw;
}
div{
// border:1px solid red;
}
.Banner-Section {margin:25px 0px 154px;position:relative;text-align:center}
.Banner-SubTitle{color: #ff5400;font-family:"Barlow-Bold";font-size: calc(1em + 1vw);text-align:center;line-height:110%;margin-bottom:2%}
.Banner-Title{color: #000000;font-family:"BebasNeue-Regular";font-size: calc(1em + 6vw);text-align:center;line-height:90%}
.Banner-Para{color: #000000;font-family:"Raleway-Medium";font-size:calc(1em + .5vw);text-align:center;margin: 0 auto;padding-left:10%;padding-right:10%}
.Banner-Section .wecap-button{max-width: 100%; padding:20px; width: 100%;text-align: center;color: #fff;font-size: calc(1em + 1vw); font-family: "Barlow-Bold";font-weight: bold;background: -moz-linear-gradient(339deg, rgba(85,57,130,1) 0%, rgba(90,90,150,1) 100%); /* ff3.6+ */}
.wecap-icon{ position: absolute; top: -8px !important;right: 162px !important;}
.wecap-icon img{max-width: 100%;}

.Banner2-Section {background-image:url('../img/banner2.png');background-repeat:no-repeat; background-size:cover;padding-bottom:130px;padding-top:20px}
.Banner2-Title{color: #28324E;font-family:"BebasNeue-Regular";font-size:calc(1em + 4vw);text-align:center;padding-bottom:1%;}
.Banner2-SubTitle{color: #28324E;font-family:"Raleway-Medium";font-size:calc(1em + 2vw);text-align:center;}
.Banner2-SubTitle a {color: #28324E;text-decoration:none;}
.Banner2-Para{color: #28324E;font-family:"Raleway-Medium";font-size:calc(1em + .6vw);text-align:center;padding:50px}
.Banner2-Para span{;display: inline-block;}
.Banner2-button{font-family:"Montserrat-Bold";font-size:30px}

.Banner-Sub{color: #000;font-family:"BebasNeue-Regular";font-size:calc(1em + 4vw);text-align:center;padding-bottom:1%;}

.process{padding-bottom:116px;text-align:center;position:relative;display:inline-block;margin:auto;width:80%;padding-top:50px}
.process-title{color: #39424a;font-family:"Montserrat-Bold";font-size:calc(1em + 4vw);text-align:center;line-height:100%;width:100%;display: inline-block;}
.process-subtitle{color: #ff8400;font-family:"Raleway-Medium";font-size:calc(1em + 3vw);text-align:center;width:100%;margin:2%;display: inline-block;}
.process-para{color: #000000;font-family:"Raleway-Medium";font-size:calc(1em + 1vw);text-align:center;line-height:100%;margin: auto;}
.theprocess-title {color: #ff8401;font-family:"Barlow-Bold";font-size:calc(1em + 1vw);text-align:left;line-height:100%;padding:36px 0px;;}
.theprocess-para{color: #39414c;font-family:"Raleway-Medium";font-size:calc(1em + .6vw);text-align:left;line-height:100%;}
.Process1{width: 100%;display: inline-block;border-bottom:1px solid #e6e3e3;}
.process-img img{max-width:100%; position:relative; top:10px;}
.Process1:last-child {  border-bottom:none;}

.Banner3-Section {background-image:url('../img/Star.png');background-repeat:no-repeat; background-size:cover;padding:7px 0px 0px;background-color:#000000}
.Banner3-Title{color: #A38F84;font-family:"BebasNeue-Regular";font-size:calc(1em + 4vw);text-align:center;padding-bottom:0%;}
.Banner3-SubTitle{color: #ffffff;font-family:"Raleway-Medium";font-size:calc(1em + 2vw);text-align:center;padding-top:2px;cursor:pointer;}
.Banner3-SubTitle a {color: #ffffff;text-decoration:none;}
.Banner3-Para{color: #D1D5D8;font-family:"Raleway-Medium";font-size:calc(1em + .6vw);text-align:center;padding:10px}
.Banner3-Para span{padding:40px 0px;display: inline-block;}
.Banner3-button{font-family:"Montserrat-Bold";font-size:30px}

.hero-image {
  background-image: url("../img/Star2.png"); /* The image used */
  background-color: #000000; /* Used if the image is unavailable */
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.Mastermind-video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.Mastermind-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Individual-video{
	position: relative;
	
	padding-top: 15px;
	height: 0;
}
.Individual-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}